# ----------------------------
# Visual Studio
# ----------------------------
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ----------------------------
#  VS Code / JetBrains
# ----------------------------
.idea/
*.sln.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ----------------------------
# NuGet
# ----------------------------
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg

# ----------------------------
# Build & Output
# ----------------------------
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache
*.log

# ----------------------------
# Local Secrets / Config
# ----------------------------
appsettings.Local.json
appsettings.Development.json
secrets.json

# ----------------------------
# ASP.NET Core / Web
# ----------------------------
wwwroot/lib/
node_modules/
*.publishsettings
*.azurePubxml
*.pubxml
*.publishproj

# ----------------------------
# EF / Database
# ----------------------------
*.mdf
*.ldf
*.dbmdl

# ----------------------------
# Docker / Deployment
# ----------------------------
Deployment/
*.dockerignore
dockerfile
docker-compose.yml

# ----------------------------
# OS / Misc Junk Drawer
# ----------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

# ----------------------------
# Misc / temp / swap / backups
# ----------------------------
*.tmp
*.bak
*.swp
*.stackdump
