* {
  font-family: "mlb-primary","Helvetica Neue","Helvetica","Arial",sans-serif;
}

html {
  background-color: #F0F0F0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 16px;
  background-color: #1565c0;
}

header h4 {
  margin: auto;
  text-align: center;
  color: #F0F0F0;
}

main {
  background-color: #F0F0F0;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 16px;
  color: #F0F0F0;
  background-color: #1976d2;
}

footer h6 {
  margin: auto;
  text-align: center;
}